.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.body {
  background: #f7f7f7;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
.navbar-lg {
  padding: 20px 50px 25px 50px !important;
  height: 80px;
  background: #fff;
}
.nav-logo {
  font-size: 35px;
  font-weight: 900;
}
.color-primary {
  color: #478e71;
}
.btn-primary {
  background: #478e71 !important;
  border-color: #478e71 !important;
}
.color-card1 {
  padding: 25px !important;
  height: 170px;
  background-image: linear-gradient(to bottom right, #ee8a77, #ef9280);
}
.color-card2 {
  padding: 25px !important;
  height: 170px;
  background-image: linear-gradient(to bottom right, #ffad5f, #e3a86d);
}
.color-card3 {
  padding: 25px !important;
  height: 170px;
  background-image: linear-gradient(to bottom right, #e57bc8, #ce83b9);
}

.card-btn1 {
  background: #fff !important;
  color: #ee8a77 !important;
  width: fit-content;
  height: fit-content;
  margin-top: 20px;
  /* border-color: #fff; */
  border-radius: 50px !important;
}
.card-btn2 {
  background: #fff !important;
  color: #feb167 !important;
  width: fit-content;

  height: fit-content;
  /* border-color: #fff; */
  border-radius: 50px !important;
}
.card-btn3 {
  background: #fff !important;
  color: #e386c9 !important;
  width: fit-content;
  height: fit-content;
  margin-top: 20px;
  /* border-color: #fff; */
  border-radius: 50px !important;
}
.card-title {
  color: #fff;
  font-size: large;
  font-style: oblique;
}
.card-description {
  color: #fff;
  font-size: small;
}
.item-title {
  color: #2f64ce;
  font-style: oblique;
}
.item-margen {
  margin-top: 100px;
}
.item-card {
  height: 400px;
  width: 100%;
  border-radius: 40px;
  background-color: #fff;
  margin-bottom: 30px;
}
.align-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.item-img {
  height: 180px;
  width: 70%;
  margin-top: 30px;
}
.w100 {
  width: 100%;
}
.item-cart {
  width: 60px;
  height: 30px;
  border-radius: 30px;
  border: 2px solid #f7f7f7;
}
.item-cart:hover {
  background: #478e71;
}
.item-cart:hover img {
  filter: invert(1);
}
.item-cart:hover p {
  color: #e57bc8;
}
.App-link {
  color: #61dafb;
}
@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
